name: Linting and typings

on:
  workflow_dispatch:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

permissions:
  contents: write
  pull-requests: write

concurrency:
  group: "${{ github.workflow }} @ ${{ github.event.pull_request.head.label || github.head_ref || github.ref || github.run_id }}"
  cancel-in-progress: true

defaults:
  run:
    working-directory: .

jobs:
  lint-and-types:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Install Deno
        uses: denoland/setup-deno@v2
        with:
          deno-version: 2.6.4

      - name: Install Bun
        uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest

      - name: Install pnpm
        uses: pnpm/action-setup@v4

      - name: Set Node version to 20
        uses: actions/setup-node@v6
        with:
          node-version: 20
          check-latest: true
          cache: "pnpm"

      - name: Install
        run: pnpm install

      - name: Build
        run: pnpm run build

      - name: Run lint
        run: pnpm run lint

      - name: Run typecheck
        run: pnpm run test:typecheck

      - name: Run build-doc
        run: pnpm run build-doc
        working-directory: docs
