on:
  pull_request:
    branches:
      - main
  workflow_dispatch:
  workflow_run:
    workflows:
      - "CI tests"
    types:
      - completed

permissions:
  contents: write
  pull-requests: write

name: release-please-beta

jobs:
  release-please-beta:
    runs-on: ubuntu-latest
    if: ${{ github.event.workflow_run.conclusion == 'success' }}

    steps:
      - uses: actions/checkout@v4

      - uses: googleapis/release-please-action@v4
        id: release
        with:
          config-file: release-please-beta-config.json
          manifest-file: .release-please-manifest.json
          target-branch: ${{ github.head_ref || github.ref_name }}
